.score {
    text-align: center;
    font-size: 1.10rem;
    padding: 0.15rem;
}

@media (min-width: 768px) {
    .score {
        text-align: right;
        font-size: 1.25rem;
        padding: 0.25rem;
    }
}

@media (min-width: 992px) {
    .score {
        text-align: right;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}