.score {
    text-align: right;
    font-size: 1rem;
    padding: 0.15rem;
}

.score-span {
    padding: 0 .50rem;
    background-color: #ffffff;
}

.score-initial {
    color: #cccccc;
    border: 1px #cccccc solid;
}

.score-begun {
    color: #007bff;
    border: 1px #007bff solid;
}

.score-lost {
    color: #dc3545;
    border: 1px #dc3545 solid;
    font-weight: bolder;
}

.score-won {
    color: #28a745;
    border: 1px #28a745 solid;
    font-weight: bolder;
}

@media (min-width: 576px) {
    .score {
        font-size: 1.15rem;
        padding: 0.20rem;
    }
}

@media (min-width: 768px) {
    .score {
        font-size: 1.25rem;
        padding: 0.25rem;
    }
}

@media (min-width: 992px) {
    .score {
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}