.score {
    text-align: right;
    font-size: 1rem;
    padding: 0.15rem;
}

@media (min-width: 576px) {
    .score {
        font-size: 1.15rem;
        padding: 0.20rem;
    }
}

@media (min-width: 768px) {
    .score {
        font-size: 1.25rem;
        padding: 0.25rem;
    }
}

@media (min-width: 992px) {
    .score {
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}