.pic-container {
    margin-bottom: 3rem;
    max-width: 100%;
    margin-top: 150px;
}

@media (min-width: 576px) {
    .pic-container {
        max-width: 420px;
    }
}

@media (min-width: 768px) {
    .pic-container {
        max-width: 630px;
    }
}

@media (min-width: 992px) {
    .pic-container {
        max-width: 840px;
    }
}