html, body {
    height: 100%;
}

.pic-container {
    max-width: 100%;
}

.min-h-100 {
    min-height: 100%;
}

#instructions {
    text-align: center;
    font-size: 80%;
    padding: 0.15rem;
    margin-top: 100px;
    margin-bottom: .5rem;
}

@media (min-width: 576px) {
    .pic-container {
        max-width: 420px;
    }
}

@media (min-width: 768px) {
    .pic-container {
        max-width: 630px;
    }
}

@media (min-width: 992px) {
    .pic-container {
        max-width: 840px;
    }
}